<!DOCTYPE html>

<head>

	<!-- Basic Page Needs
================================================== -->
<title>Salon De Style</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
================================================== -->
	<link rel="stylesheet" href="/css/user/css/style.css">
	<link rel="stylesheet" href="/css/user/css/main-color.css" id="colors">

	<style>
		.cancelBtn {
			background-color: #ff304f;
			padding: 2px 10px;
			line-height: 22px;
			font-weight: 900;
			font-size: 15px;
			color: white;
			border-radius: 50px;
			display: inline-block;
		}

		.approveBtn {
			background-color: #74f6a7;
			padding: 2px 10px;
			line-height: 22px;
			font-weight: 900;
			font-size: 15px;
			color: white;
			border-radius: 50px;
			display: inline-block;
		}

		.buttons-to-right .button {
			margin-left: 2px;
			margin-top: 10px;
		}
	</style>

</head>

<body>



			<!-- Header -->

			<% if(user){ %>
			<%- include('./loginNavbar.ejs') %>
			<% } else{ %>
			<%- include('./navbar.ejs') %>
			<% }  %>
			<!-- Header / End -->
			<!-- side Navbar -->
			<%- include('./sideNavbar.ejs') %>
			<!-- side Navbar -->

			<div class="content">
				<div class="row">
					<div class="col-md-12">
						<h3>Appointment</h3>
						<hr>
					</div>
					<div class="col-md-12">
						<% if(booking.length) { %>
							<%  for(let i =0 ; i<booking.length; i++ ){ %>
						<div class="appointment">
							<div class="media">
								<img src="<%=booking[i].img%>" alt="">
								<div class="media-body">
									<h5 class=""><%=booking[i].businessName%> <span class=""><%  if(booking[i].status == 0){ %>
										<span class="badge badge-warning">Pending</span>
										<% } else if(booking[i].status == 1) { %>
										<span class="badge badge-info">Approved</span>
										<% } else if(booking[i].status == -1) { %>
										<span class="badge badge-danger">Canceled</span>
										<% } %></span></h5>
									<p> Booking Service: <%=booking[i].serviceName%> </p>
									<p> Price: $ <%=booking[i].servicePrice%> </p>
									<p> Booking Date: <%=booking[i].day%> - (<%=booking[i].timeSlotStart%> - <%=booking[i].timeSlotEnd%>) </p>
									<p> Address: New york </p>
									<p> Contact: <%=booking[i].businessMail%> </p>
								</div>
								<div class="buttons-to-right">
									<%  if(booking[i].status == 0){ %>
	
									<form action="/delete/appoinment" method="post">
										<input type="hidden" name="id" value="<%=booking[i].bookingID%>">
										<input type="hidden" name="shopMail" value="<%=booking[i].businessMail%>">
										<button type="submit" class="btn btn-danger mb-3">
											<i class="sl sl-icon-close"></i>Cancel
										</button>
									</form>
	
									<a class="bg-success p-2 mt-3"
										href="/details/<%=booking[i].businessName%>/<%=booking[i].businessMail%>"><i
											class="sl sl-icon-check"></i>Book Again</a>
									<% } else if(booking[i].status == 1) { %>
									<form action="/delete/appoinment" method="post">
										<input type="hidden" name="id" value="<%=booking[i].bookingID%>">
										<input type="hidden" name="shopMail" value="<%=booking[i].businessMail%>">
										<button type="submit" class="btn btn-danger mb-3">
											<i class="sl sl-icon-close"></i>Cancel
										</button>
									</form>
									<a class="bg-success p-2 mt-3"
										href="/details/<%=booking[i].businessName%>/<%=booking[i].businessMail%>"><i
											class="sl sl-icon-check"></i>Book Again</a>
									<% } else if(booking[i].status == -1) { %>
									<a class="bg-success p-2 mt-3"><i class="sl sl-icon-check"></i>Book Again</a>
									<% } %>
	
								</div>
							</div>
						</div>
						<% } %>
						<% } else{  %>
								 
							<div class="container">
								<div class="row">
									<div class="col-12">
										<h3>No Data Found</h3>
									</div>
								</div>
							</div>
							<%  } %>
						
					</div>
				</div>
			</div>
		</div>
	</div>

</section>
	<!-- Wrapper / End -->


	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
	integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
	integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
	crossorigin="anonymous"></script>

</body>

</html>