<!DOCTYPE html>

<head>

	<!-- Basic Page Needs
================================================== -->
	<title>Salon De Style</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
================================================== -->
	<link rel="stylesheet" href="/css/user/css/style.css">
	<link rel="stylesheet" href="/css/user/css/main-color.css" id="colors">

</head>

<body>



	<!-- Header -->

	<% if(user){ %>
		<%- include('./loginNavbar.ejs') %>
			<% } else{ %>
				<%- include('./navbar.ejs') %>
					<% } %>
						<!-- Header / End -->
						<!-- side Navbar -->
						<%- include('./sideNavbar.ejs') %>
							<!-- side Navbar -->



							<div class="content">
								<div class="row">
									<div class="col-md-12">
										<h3>E-gift Card List</h3>
										<hr>
									</div>
									<div class="col-md-12">
										<% if(gift.length) { %>
											<ul class="list-group">
												<li
													class="list-group-item d-flex justify-content-between align-items-center">
													<h5>E-gift Card Name: <%=gift[i].packageName%>
													</h5>
													<span class="badge-pill">Offer Price: $ <%=gift[i].price%></span>
												</li>
												<li
													class="list-group-item d-flex justify-content-between align-items-center">
													<h5>Shop Name: <%=gift[i].businessName%>
													</h5>
													<span class="badge-pill"><a
															href="/details/<%=gift[i].businessName%>/<%=gift[i].businessMail%>">View
															shop</a></span>
												</li>
												<li
													class="list-group-item d-flex justify-content-between align-items-center">
													<h5>Service: <%=gift[i].service%>
													</h5>
													<span class="badge-pill">
														<% if(gift[i].status==0) { %>
															Available
															<% } else if(gift[i].status==1) { %>
																Used
																<% } else { %>
																	Cancled
																	<% } %>
													</span>
												</li>
												<li
													class="list-group-item d-flex justify-content-between align-items-center">
													<p>Booking Date: <%=gift[i].date%>
													</p>
													<p>Valid Till: <%=gift[i].endDate%>
													</p>
													<span class="badge-pill"> Token: #<%=gift[i].token%> </span>
												</li>
											</ul>
											<% } else{ %>
												<div class="container">
													<div class="row">
														<div class="col-md-12">
															<h3 class="text-center">No Data Found</h3>
														</div>
													</div>
												</div>
												<% } %>
									</div>
								</div>
							</div>
							</div>
							</div>

							</section>




							<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
							integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
							crossorigin="anonymous"></script>
						<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
							integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
							crossorigin="anonymous"></script>
						<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
							integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
							crossorigin="anonymous"></script>


</body>

</html>