<!DOCTYPE html>

<head>

	<!-- Basic Page Needs
================================================== -->
	<title>Salon De Style</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
================================================== -->
	<link rel="stylesheet" href="/css/user/css/style.css">


</head>

<body class="transparent-header">


	<% if(user){ %>
	<%- include('./loginNavbar.ejs') %>
	<% } else{ %>
	<%- include('./navbar.ejs') %>
	<% }  %>


	<section class="page-content">
        <div class="video-section mt-5">
            <video poster="images/main-search-video-poster.jpg" loop autoplay muted>
                <source src="/video/user/US.mp4" type="video/mp4" />
			</video>
			<div class="loginmsg">
				<% if(locals.err){ %>
					<div class="alert alert-danger alert-dismissible fade show">
						<h6 class="text-danger" style="font-weight: 600;"><%=locals.err%></h6>
					</div>
					<% } %>
						<% if(locals.success){ %>
							<div class="alert alert-success alert-dismissible fade show">
								<h6 class="text-success" style="font-weight: 600;"><%=locals.success%></h6>
							</div>
							<% } %>
			</div>
			
            <div class="overlay">
				
                <h2 class="text-center mb-3 text-light">Discover and book beauty & wellness professional near you</h2>
                <div class="search-option">
                    <form action="/search" method="post">
                    <input type="text" class="categorysearch" placeholder="what are you loking for?" name="name">
                    <input type="text" class="locationsearch" id="autocomplete-input" placeholder="Search Location" name="location">
                    <button type="submit" class="btn searchBtn btn-danger rounded-pill">Submit</button>
                        </form>
                </div>
                <div class="cearch-categpry mt-3">
                    <h5 class="text-center text-white">Popular searching category</h5>
                    <ul>
                        <li><a href="/search/category/Hair Salon">Hair Salon</a></li>
                        <li><a href="/search/category/Beauty Salon">Beauty Salon</a></li>
                        <li><a href="/search/category/Tattoo Shop">Tattoo Shop</a></li>
                        <li><a href="/search/category/Massage">Massage</a></li>
                    </ul>
                </div>
    
            </div>
		</div>
		<section class="product-list">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">Recommended</h1>
                    </div>
                    <div class="col-sm-12">
                        <div id="customers-testimonials" class="owl-carousel">
							<% for(i=0;i<shop.length;i++) { %>
                            <div class="item">
                                    <a href="/details/<%=shop[i].businessName%>/<%=shop[i].businessMail%>" class="card bg-white text-dark">
                                        <img src="<%=shop[i].img%>"
                                            class="card-img" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title"><%=shop[i].businessName%></h5>
                                            <p class="card-text"><%=shop[i].address%></p>
                                            <div class="rating" data-rating="<%=shop[i].rating%>">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <span class="text-dark">(<%=shop[i].total%> reviews)</span>
                                            </div>
                                        </div>
                                    </a>
							</div>
							<% } %>
                        </div>
                    </div>
                </div>
            </div>
		</section>
		
		<section class="product-list">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">Top Trending</h1>
                    </div>
                    <div class="col-sm-12">
                        <div id="customers-testimonials1" class="owl-carousel">
							<% for(i=shop.length-1;i>=0;i--) { %>
                            <div class="item">
                                    <a href="/details/<%=shop[i].businessName%>/<%=shop[i].businessMail%>" class="card bg-white text-dark">
                                        <img src="<%=shop[i].img%>"
                                            class="card-img" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title"><%=shop[i].businessName%></h5>
                                            <p class="card-text"><%=shop[i].address%></p>
                                            <div class="rating" data-rating="<%=shop[i].rating%>">
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <div class="star"></div>
                                                <span class="text-dark">(<%=shop[i].total%> reviews)</span>
                                            </div>
                                        </div>
                                    </a>
							</div>
							<% } %>
                        </div>
                    </div>
                </div>
            </div>
        </section>

		</section>
	<!-- Footer -->
	<%- include('./footer.ejs') %>
	<!-- Footer -->

<script>
	jQuery(document).ready(function ($) {
		"use strict";
		$('#customers-testimonials').owlCarousel({
			loop: true,
			center: true,
			items: 3,
			margin: 30,
			autoplay: true,
			dots: true,
			autoplayTimeout: 5000,
			smartSpeed: 10,
			responsive: {
				0: {
					items: 1
				},
				768: {
					items: 2
				},
				1170: {
					items: 3
				}
			}
		});
		$('#customers-testimonials1').owlCarousel({
			loop: true,
			center: true,
			items: 3,
			margin: 30,
			autoplay: true,
			dots: true,
			autoplayTimeout: 3000,
			smartSpeed: 10,
			responsive: {
				0: {
					items: 1
				},
				768: {
					items: 2
				},
				1170: {
					items: 3
				}
			}
		});
	});
</script>
	
	<script>
		var typed = new Typed('.typed-words', {
			strings: ["Tattoo", " Salon", " Attractions"],
			typeSpeed: 80,
			backSpeed: 80,
			backDelay: 4000,
			startDelay: 1000,
			loop: true,
			showCursor: true
		});
	</script>


	<script>
	

		function validatePassword() {
			let password = document.getElementById("abc_password")
			let confirm_password = document.getElementById("confirm_password");
			console.log(password.value,confirm_password.value)
			if (password.value != confirm_password.value) {
				confirm_password.setCustomValidity("Passwords Don't Match");
			} else {
				confirm_password.setCustomValidity('');
			}
		}

	
	</script>




</body>

</html>