<%- include('./include/header.ejs') %>
</head>

<body  onload="loader()">
	<div id="loader"> </div>
	<% if(user){ %>
		<%- include('./loginNavbar.ejs') %>
			<% } else{ %>
				<%- include('./navbar.ejs') %>
					<% } %>

						<!-- Titlebar -->
						<section class="page-content">
							<!-- content -->
							<div class="container">
								<div class="row">
									<div class="col-md-12">

										<div class="row">

											<% if(shop.length==0){ %>
												<div class="col-md-12 col-12">
													<h1 class="text-center text-success" style="margin-bottom: 300px; margin-top: 100px;">No Shop Found</h1>
												</div>
												
												<% } else{ %>
													<!-- Listing Item -->
													<h3>Serach Result:</h3>
													<hr>
													<% for(i=0;i<shop.length;i++) { %>
														<div class="col-lg-12 col-md-12 searchresult">

															<a
																href="/details/<%=shop[i].businessName%>/<%=shop[i].businessMail%>">
																
																<div class="row">
																	<div class="col-md-5 col-12">
																		<img class="align-self-center mr-3"
																			src="<%=shop[i].img%>" alt="search img"
																			width="90%" height="250px">
																	</div>
																	<div class="col-md-7 col-12">
																		<div class="media-body">
																			<h5 class="mt-0">
																				<%=shop[i].businessName%>
																			</h5>
																			<h6>
																				<%=shop[i].address%>
																			</h6>
																			<div class="rating"
																				data-rating="<%=shop[i].rating%>">
																				<div class="star"></div>
																				<div class="star"></div>
																				<div class="star"></div>
																				<div class="star"></div>
																				<div class="star"></div>
																				<span class="text-dark">(
																					<%=shop[i].total%> reviews)
																				</span>
																			</div>

																		</div>
																	</div>
																</div>
																
															</a>

														</div>
														<% } %>
															<% } %>

										</div>
									</div>

								</div>
							</div>

	<%- include('./footer.ejs') %>

</body>

</html>