<!DOCTYPE html>

<head>

	<title>Search Results</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" href="/css/user/css/style.css">
	<link rel="stylesheet" href="/css/user/css/main-color.css" id="colors">

</head>

<body>

	<% if(user){ %>
	<%- include('./include/loginNavbar.ejs') %>
	<% } else{ %>
	<%- include('./include/navbar.ejs') %>
	<% }  %>

	<!-- Titlebar
================================================== -->
	<div id="titlebar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<h2>Search Results  For: "<%=search%>" </h2>

					<!-- Breadcrumbs -->
					<nav id="breadcrumbs">
						<ul>
							<li><a href="#">Home</a></li>
							<li>Search Results</li>
						</ul>
					</nav>

				</div>
			</div>
		</div>
	</div>


	<!-- Content
================================================== -->

	<!-- Container -->
	<div class="container">
		<div class="row">



			<div class="col-md-12">


				<div class="row">

					<% if(shop.length==0){ %>
					<h1 class="text-center">No Shop Found</h1>
					<% } else{ %>
					<!-- Listing Item -->
					<% for(i=0;i<shop.length;i++) { %>
					<div class="col-lg-12 col-md-12">
						<div class="listing-item-container list-layout">
							<a href="/details/<%=shop[i].businessName%>/<%=shop[i].businessMail%>" class="listing-item">

								<!-- Image -->
								<div class="listing-item-image">
									<img src="<%=shop[i].img%>" alt="">
									<span class="tag">Salon de Style</span>
								</div>

								<!-- Content -->
								<div class="listing-item-content">
									<div class="listing-badge now-open">Now Open</div>

									<div class="listing-item-inner">
										<h3><%=shop[i].businessName%> <i class="verified-icon"></i></h3>
										<span><%=shop[i].address%> </span>
										<div class="star-rating" data-rating="<%=shop[i].rating%>">
											<div class="rating-counter">(<%=shop[i].total%> reviews)</div>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
					<% } %>
					<!-- Listing Item / End -->
					<% } %>


				</div>

		

			</div>

		</div>
	</div>

	<!-- Container / End -->



	<!-- Footer -->

	<%- include('./include/footer.ejs') %>

	<!-- Footer -->



	<!-- Scripts -->
	<script type="text/javascript" src="/js/user/scripts/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="/js/user/scripts/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/user/scripts/custom.js"></script>




</body>

</html>