<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Material pro admin Template - The Ultimate Multipurpose admin template</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/Material proadmin/" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/extra-libs/taskboard/css/lobilist.css">
    <link rel="stylesheet" href="/assets/extra-libs/taskboard/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css"
        href="/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Custom CSS -->
    <link href="/dist/css/style.min.css" rel="stylesheet">

</head>

<body>

    <%- include('./sideBar.ejs') %>

        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <div class="heath-information">
                <div class="container">
                    <h1 class="text-center">Upload Images</h1>
                    <div class="row">
                        <form action="/shop/portfolio" enctype="multipart/form-data" method="post">
                            <div class="col-md-12">
                                <input type="file" name="image" required>
                                <input type="submit" class="btn btn-danger" value="Save">
                            </div>
   
                        </form>
                    </div>
                </div>

                <div class="portfolio_img mt-4"> 
                    <div class="container">
                        <div class="row">
                                <div class="col-md-4 col-sm-12">
                                    <img src="<%=data.img%>" alt="">
                                    <div class="text-center">
                                        <a href="/shop/portfolio/deleteimg/data.img"> <i class="fa fa-trash"></i> </a>
                                    </div>   
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <img src="<%=data.img1%>" alt="">
                                    <div class="text-center">
                                        <a href="/shop/portfolio/deleteimg/img1"> <i class="fa fa-trash"></i> </a>
                                    </div>   
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <img src="<%=data.img2%>" alt="">
                                    <div class="text-center">
                                        <a href="/shop/portfolio/deleteimg/img2"> <i class="fa fa-trash"></i> </a>
                                    </div>   
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <img src="<%=data.img3%>" alt="">
                                    <div class="text-center">
                                        <a href="/shop/portfolio/deleteimg/img3"> <i class="fa fa-trash"></i> </a>
                                    </div>   
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <img src="<%=data.img4%>" alt="">
                                    <div class="text-center">
                                        <a href="/shop/portfolio/deleteimg/img4"> <i class="fa fa-trash"></i> </a>
                                    </div>   
                                </div>
                            </div>
                           
                        </div>
                    </div>
            </div>
        </div>
        

        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Wrapper -->

        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="/assets/extra-libs/taskboard/js/jquery.ui.touch-punch-improved.js"></script>
        <script src="/assets/extra-libs/taskboard/js/jquery-ui.min.js"></script>
        <!-- Bootstrap tether Core JavaScript -->
        <script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
        <script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- apps -->
        <script src="/dist/js/app.min.js"></script>
        <script src="/dist/js/app.init.dark.js"></script>
        <script src="/dist/js/app-style-switcher.js"></script>
        <!-- slimscrollbar scrollbar JavaScript -->
        <script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
        <script src="/assets/extra-libs/sparkline/sparkline.js"></script>
        <!--Wave Effects -->
        <script src="/dist/js/waves.js"></script>
        <!--Menu sidebar -->
        <script src="/dist/js/sidebarmenu.js"></script>
        <!--Custom JavaScript -->
        <script src="/dist/js/custom.min.js"></script>
        <!--This page JavaScript -->
        <script src="/dist/js/pages/samplepages/jquery.PrintArea.js"></script>
        <script src="/dist/js/pages/invoice/invoice.js"></script>
        <script src="/assets/extra-libs/jquery.repeater/dff.js"></script>

</body>

</html>