<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/images/favicon.png">
    <title>Material pro admin Template - The Ultimate Multipurpose admin template</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/Material proadmin/" />
    <link rel="stylesheet" href="/dist/css/icons/font-awesome/css/fontawesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/extra-libs/taskboard/css/lobilist.css">
    <link rel="stylesheet" href="/assets/extra-libs/taskboard/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css"
        href="/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Custom CSS -->
    <link href="/dist/css/style.min.css" rel="stylesheet">
    <style>
        .reviewBox {
            border: 2px solid rgb(15, 14, 14);
            padding: 10px;
            box-shadow: 0px 4px 2px 1px black;
        }

        .reviewBox ul li {
            float: left;
            list-style: none;
        }
    </style>

</head>

<body>

    <%- include('./sideBar.ejs') %>

    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <div class="heath-information">
            <div class="container">
                <h1 class="text-center">Review Rating</h1>
                <div class="row">
                    <% for(let i=0; i< data.length; i++ ) { %>

                    <div class="col-md-6">
                        <div class="reviewBox">
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><img class="reviewDp" src="<%=data[i].reviewrDP%>" alt="dp">
                                        <span><%=data[i].reviewrName%></span></h4>
                                </div>
                                <div class="col-md-6">
                                    <ul>
                                        <% for(let j=0 ;j < data[i].rating ; j++ ) { %>
                                        <li><i class="fa fa-star"></i></li>
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <img class="reviewImg" src="<%=data[i].img%>" alt="">
                                </div>
                                <div class="col-md-12">
                                    <p class="mt-1"><%=data[i].review%> </p>
                                </div>
                            </div>
                            <div>
                                    <span><%=data[i].date%></span>
                            </div>
                        </div>
                    </div>
                    

                    <% } %>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->

    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/extra-libs/taskboard/js/jquery.ui.touch-punch-improved.js"></script>
    <script src="/assets/extra-libs/taskboard/js/jquery-ui.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- apps -->
    <script src="/dist/js/app.min.js"></script>
    <script src="/dist/js/app.init.dark.js"></script>
    <script src="/dist/js/app-style-switcher.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="/dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="/dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <script src="/dist/js/pages/samplepages/jquery.PrintArea.js"></script>
    <script src="/dist/js/pages/invoice/invoice.js"></script>
    <script src="/assets/extra-libs/jquery.repeater/dff.js"></script>

</body>

</html>